{{define "add"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "header" "Add Block"}}
    <main>
      <form method="POST" action="/add">
        <input type="text" placeholder="Data for your block" required name="blockData" />
        <button type="submit">Add Block</button>
      </form>
    </main>
    {{template "footer"}}
  </body>
</html>
{{end}}
